Package: com.mergesort.QuickNote
Name: QuickNote
Depends: firmware (>= 5.0), com.chpwn.weeloader
Version: 1.3.6
Architecture: iphoneos-arm
Description: A notification center widget to give you a notepad for jotting down some quick notes.
Depiction: http://mobile.twitter.com/mergesort
Conflicts: gsc.wildcat 
Homepage: http://fabisevi.ch
Maintainer: Joseph Fabisevich <jfabisevich@me.com>
Author: Joseph Fabisevich <jfabisevich@me.com>
Section: Addons (NotificationCenter)